<%- include('layout') %>
<div class="card p-5 shadow-sm border-0 bg-white">
    <h2 class="fw-bold mb-4">Hakkımızda</h2>
    <hr>
    <p class="fs-5"><strong>Geliştirici:</strong> Emin Akif Erzurumlu</p>
    <p class="fs-5"><strong>Bölüm:</strong> Yazılım Mühendisliği 3. Sınıf</p>
    <p class="fs-5"><strong>Üniversite:</strong> İstanbul Topkapı Üniversitesi</p>
    <p class="fs-5"><strong>Proje:</strong> Node.js & Express Web Tasarım Final Ödevi</p>
</div>
</body></html>