<%- include('layout') %>
<div class="p-5 mb-4 bg-white rounded-3 border">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Hoş Geldin!</h1>
        <p class="fs-4">Şu an kütüphanende tam <strong><%= totalBooks %></strong> kitap bulunuyor.</p>
        <a href="/books" class="btn btn-primary btn-lg">Kitapları Görüntüle</a>
    </div>
</div>
</body></html>